//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
//@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
//@import '../font-awesome-4.7.0/scss/font-awesome.scss';

// can add Boostrap overrides, additional Sass/CSS below...

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  background: #333;
  color: #000;
  line-height: 1.4;
}

#controls {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  color: #999;
  box-sizing: border-box;
  padding: 35px 40px 35px 0;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 100;
  background: #222;
  border-right: 1px solid #111;
  margin-left: -10px;
  h1,h2,h3,h4,h5,h6 {
    color: #fff;
    font-weight: inherit;
    line-height: 1.2;
  }
  h1,h2,h3,h4,h5,h6,p,ul,ol,dl,pre,blockquote {
    margin: 10px 0;
  }
  strong {
    font-weight: inherit;
    color: #fff;
  }
  .tiles {
    display: flex;
    margin: 20px -10px;
    &.one-tile .tile {
      font-size: 3em;
      width: 100%;
    }
    &.two-tile .tile {
      font-size: 1.5em;
      width: 50%;
    }
    &.three-tile .tile {
      font-size: 1em;
      width: 33%;
    }
    .tile {
      padding: .9em .5em .25em;
      text-align: center;
      line-height: 1.4;
      flex-grow: 1;
      flex-basis: auto;
      flex-shrink: 1;
      box-sizing: border-box;
      background: rgba(0,0,0,0.25);
      border: 2px solid #333;
      margin: 0 10px;
      border-radius: 2px;
      color: #ccc;
      text-shadow: 0 0 3px rgba(255,255,255,0.5);
      box-shadow: 1px 2px 8px rgba(0,0,0,0.5) inset;
      .tile-label {
        font-size: .8em;
        opacity: .25;
      }
      .tile-value {
        font-size: 2em;
        text-shadow: 1px 2px 8px #000;
        font-weight: bold;
        margin: .1em 0;
        .slash {
          font-weight: normal;
          margin: 0 .2em;
          opacity: .25;
        }
      }
    }
  }
}

svg {
  position: fixed;
  background: #222;
  top: 0;
  left: 0;
  //box-shadow: 0 0 0 2px #f90 inset;
}

rect.boundary {
  fill: transparent;
  stroke: #f90;
  stroke-width: 2px;
  stroke-linejoin: round;
}

rect.block {
  fill: #222;
  opacity: .9;
}

rect.transition-blankout {
  fill: #222;
  stroke-width: 0;
}

circle.transition-explosion {
  fill: transparent;
  stroke: #fff;
  stroke-width: 20px;
}

text.transition-message {
  text-anchor: middle;
  dominant-baseline: middle;
  fill: #fff;
  font-size: 70px;
}

text.par-label {
  text-anchor: end;
  fill: #fff;
  font-size: 20px;
  font-weight: normal;
  opacity: .2;
}

.barrier {
  fill: rgba(255,255,255,0.025);
  stroke: #f90;
  stroke-width: 1px;
}

.cannon {
  circle {
    stroke: #fff;
    stroke-width: 10px;
    fill: transparent;
  }
  circle.power-radius {
    stroke: #0f0;
    stroke-width: 1px;
    fill: transparent;
  }
  rect.barrel {
    fill: #fff;
  }
  line {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 2, 7;
    opacity: .25;
  }
  .power-gauge {
    rect {
      fill: #0f0;
      stroke: #333;
      stroke-width: 6px;
      stroke-linejoin: round;
    }
    .gauge-dot {
      fill: #0f0;
      stroke: #333;
      stroke-width: 5px;
    }
  }
}

.target {
  line.target-bound {
    stroke: #fff;
    stroke-width: 1px;
    opacity: .25;
  }
  path.target-corner {
    stroke: #fff;
    stroke-width: 4px;
    stroke-linejoin: round;
  }
  &.goal {
    line.target-bound {
      stroke: #0f0;
    }
    path.target-corner {
      stroke: #0f0;
    }
  }
}

circle.ball {
  stroke: #fff;
  stroke-width: 2px;
  fill: rgba(255,255,255,0.1);
}
