//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
//@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
//@import '../font-awesome-4.7.0/scss/font-awesome.scss';

// can add Boostrap overrides, additional Sass/CSS below...

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 100;
  background: #333;
  color: #fff;
  line-height: 1.4;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
}

rect.barrier {
  stroke: #fff;
  stroke-width: 4px;
}

.gun {
  circle {
    stroke: #fff;
    stroke-width: 10px;
    fill: transparent;
  }
  rect.barrel {
    fill: #fff;
  }
  line {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 2, 7;
    opacity: .25;
  }
  .power-gauge {
    rect {
      fill: #0f0;
      stroke: #333;
      stroke-width: 4px;
    }
  }
}

circle.ball {
  stroke: #fff;
  stroke-width: 2px;
  fill: rgba(50,50,50,0.75);
}
