//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
//@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
//@import '../font-awesome-4.7.0/scss/font-awesome.scss';

// can add Boostrap overrides, additional Sass/CSS below...

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 100;
  background: #222;
  color: #000;
  line-height: 1.4;
  cursor: default;
}

#game-main {
  position: fixed;
  .copyright {
    font-family: sans-serif;
    font-weight: 100;
    position: fixed;
    text-align: left;
    color: #444;
    margin: 0;
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
    line-height: 1;
    width: 100vh;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    transform: rotate(-90deg);
    transform-origin: 1.5em 1.5em;
    letter-spacing: .12em;
  }
}

#tallies,
#help {
  position: absolute;
  left: 0;
  right: 0;
  height: 5%;
  color: #c70;
  text-shadow: 0 0 .5em rgba(255, 50, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding-top: 1.2em;
  white-space: nowrap;
  .section {
    text-align: center;
    flex-grow: 1;
    font-size: 2.15em;
    font-weight: bold;
    .label {
      font-weight: normal;
      opacity: 0.5;
    }
    .value {
      display: inline-block;
    }
    .slash {
      font-weight: normal;
      opacity: 0.5;
      margin: 0 .1em;
    }
  }
}

#tallies {
  bottom: 0;
}

#help {
  top: 0;
}

#splash {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #999;
  box-sizing: border-box;
  padding: 14em 20em;
  [href] {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted rgba(255,255,255,0.125);
    &:hover {
      border-color: #999;
    }
  }
  &.end-splash {
    text-align: center;
  }
  h1, strong {
    color: #fff;
  }
  &:before {
    content: "";
    background: rgba(46,46,46,0.8);
    position: absolute;
    top: 12em;
    left: 12em;
    right: 12em;
    bottom: 12em;
    box-sizing: border-box;
    border: 1px solid #f90;
  }
  #splash-inner {
    position: relative;
    font-size: 2.30em;
    line-height: 1.6;
    text-shadow: 0 0 .2em rgba(255,255,255,0.2);
    h1 {
      text-align: center;
    }
    hr {
      height: 0;
      border: 1px solid #f90;
      border-width: 1px 0 0;
      margin: 1.8em 0;
    }
  }
  #blurb {
    margin: 1.8em -.6em 1em;
    text-align: left;
    padding: 1px 1.5em;
    background: rgba(0,0,0,0.25);
    font-size: 92%;
  }
  #course-options {
    white-space: nowrap;
    text-align: center;
    button {
      outline: none;
      border: none;
      background: #f90;
      color: #222;
      font: inherit;
      font-weight: bold;
      font-size: 90%;
      line-height: 1;
      padding: .7em 1em;
      cursor: pointer;
      margin: 1em 0;
      transition: background 100ms linear;
      &:hover {
        background: #fff;
        box-shadow: 0 0 .5em rgba(255,255,255,0.4);
        color: #333;
      }
      & + button {
        margin-left: 1.5em;
      }
    }
  }
}

svg {
  position: absolute;
  background: #222;
  top: 0;
  left: 0;
  //box-shadow: 0 0 0 2px #f90 inset;
}

rect.boundary {
  fill: transparent;
  stroke: #f90;
  stroke-width: 2px;
  stroke-linejoin: round;
}

rect.block {
  fill: #222;
  opacity: .9;
}

rect.transition-blankout {
  fill: #222;
  stroke-width: 0;
}

text.transition-message {
  text-anchor: middle;
  dominant-baseline: middle;
  fill: #fff;
  font-size: 60px;
  font-weight: bold;
}

text.par-label {
  text-anchor: end;
  fill: #fff;
  font-size: 20px;
  font-weight: normal;
  opacity: .2;
}

.barrier {
  stroke-width: 2px;
  stroke: #f90;
  fill: rgba(255,255,255,0.05);
  opacity: .75;
}
.barrier-inner {
  stroke: #111;
  stroke-width: 0;
  fill: transparent;
  fill: rgba(0,0,0,0.25);
}

.cannon {
  circle.cannon-drawback,
  circle.cannon-body {
    stroke: #fff;
    stroke-width: 10px;
    fill: transparent;
  }
  circle.power-radius {
    stroke: #0f0;
    fill: transparent;
  }
  rect.barrel {
    fill: #fff;
  }
  line.launch-path {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 2, 7;
    opacity: .35;
  }
  .power-gauge {
    rect {
      fill: #0f0;
      stroke: #333;
      stroke-width: 6px;
      stroke-linejoin: round;
    }
    .gauge-dot-bg {
      fill: #222;
      stroke: none;
    }
    .gauge-dot {
      fill: #0f0;
      stroke: #333;
      stroke-width: 0;
    }
    .gauge-stretch-bg {
      stroke: #222;
      stroke-width: 18px;
    }
    .gauge-stretch {
      stroke: #0f0;
      stroke-width: 8px;
      opacity: .75;
      stroke-dasharray: 4, 4;
    }
  }
}

.target {
  .target-bound {
    stroke: #fff;
    stroke-width: 1px;
    opacity: .25;
    fill: transparent;
  }
  path.target-corner {
    stroke: #fff;
    stroke-width: 3px;
    stroke-linejoin: round;
  }
  circle.proton {
    stroke: #999;
    stroke-width: 2px;
  }
  circle.proton-surround {
    fill: transparent;
    stroke: #444;
    stroke-width: 1px;
  }
  &.goal {
    line.target-bound {
      stroke: #0f0;
    }
    path.target-corner {
      stroke: #0f0;
    }
  }
}

circle.ball {
  stroke: #999;
  stroke-width: 2px;
}

circle.field-outer,
circle.field-inner {
  stroke: #f90;
  stroke-width: 1px;
  stroke-dasharray: 5, 5;
  opacity: 0.5;
}

circle.field-outer {
  fill: transparent;
}

text.field {
  fill: #f90;
  font-size: 20px;
  opacity: .25;
  text-anchor: middle;
}

p.level-message {
  border-radius: 1px;
  position: absolute;
  background: #333;
  border: 1px solid #888;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 2em;
  line-height: 1.4;
  padding: .75em 1em;
  white-space: pre-wrap;
  opacity: .5;
}
